/*set all html tags margin and padding to zero by default*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  line-height: normal;
}
/*set line height for IE*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body {
    line-height: 1.5em;
  }
}
/*set default 100% width for header, main and footer*/
header,
main,
footer {
  width: 100%;
  display: block;
}
/*clearfix for the container of float properties*/
.clearfix,
ul,
ol {
  clear: both;
}
.clearfix:after,
ul:after,
ol:after {
  content: '';
  display: block;
  clear: both;
}
/*remove bullet or number in unordered and ordered list*/
ul,
ol {
  list-style-type: none;
}
/*remove a tag text decoration (like underline) and inherit the color of its body*/
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.3s;
}